[general]
orig_dir = data/example_corpus
corpus_file = data/corpus.jsonl
metadata = data/metadata.xlsx
max_files = 2

[word]
model_dir = data/word_models
size = 300
epochs = 3
window = 10
min_count = 2
workers = 10

[sentence]
elmo_model = data/elmo_nl
faiss_db = data/faiss_db
faiss_lookup = data/faiss_lookup.json
